.footer
  background-color: $dark
  color: $light
  padding-top: 108px
  padding-bottom: 46px
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
  &__logo
    width: 166px
    grid-row: 1 / 3
    align-self: center
  &__categories
    grid-row: 1 / 4
  &__legal
    margin-left: 70px
  &__social
    &-links
      display: flex
      align-items: flex-end
      min-width: 83px
      justify-content: space-between
    &-network
      display: flex
      align-items: flex-start
      grid-row: 2 / 4
      grid-column: span 2
  &__contact
    &-details
      margin-top: 12px
      grid-column: span 2
    &-form
      grid-column: span 2
      margin-bottom: 95px
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    margin: 0 0 16px 0
    &--inline
      margin: 0 43px 0 0
    &--mb-3
      margin-bottom: 34px
  &__item
    display: flex
    align-items: flex-start
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 22px
    color: $footer-text-color
    &--mb-2
      margin-bottom: 20px
  &__icon
    &-wrapper
      min-width: 40px
  &__phone
    text-decoration: none
    color: inherit
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 22px
  &__email
    text-decoration: none
    color: inherit
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 22px
  &__text
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 22px
    color: $footer-text-color
    margin-top: 12px
    margin-bottom: 22px
  &__link
    text-decoration: none
    color: inherit
  &__input
    width: 100%
    &-wrapper
      display: flex
      justify-content: space-between
      margin-bottom: 16px
      flex-basis: 100%
    &-group
      flex-basis: 48%
  &__message
    min-height: 123px
    flex-basis: 100%
    margin-bottom: 21px
  &__info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $footer-info
  &-bottom
    max-width: 696px
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: auto
    &__copyright
      width: 283px
      display: flex
      justify-content: space-between
      padding: 0
      margin: 0
      list-style: none
    &__item
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $light
    &__image
      width: 136px
      height: 22px
